@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
.navbar{
    background-color: rgba(0,0,0,0.2);
    z-index: 1000;
}
.icon-hamburger{
    background-color: #FFF !important;
    color: #FFF !important;
}
.nav-link{
    color: #FFF !important;
}
.frase{
    color: white;
    font-size: 5vw;
    font-family: 'Praise', cursive;
    text-align: center;
    text-shadow: 3px 5px 2px #474747, 2px 12px 0px rgba(206,89,55,0);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: #FFF;
    background-color: #000;
}

/* Imagen principal del banner */

.container-fluid.fondo {
    background: url("../../img/fondo.jpg") no-repeat;
    background-size: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px){
    .container-fluid.fondo {
        height: 500px;
    }
    .frase{
        font-size: 10vw;
    }
}

@media (max-width: 600px){
    .container-fluid.fondo {
        height: 300px;
    }
    .frase{
        font-size: 12vw;
    }
}