header{
	box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
nav{
	background-color: #592202;
}

header .uk-navbar-nav>li>a{
	color:  white;
}

header .uk-navbar-nav>li.uk-active>a {
	color: #D9B779;
}