h2{
    margin: 30px 0;
    text-align: center;
}

.Menu{
    margin: 0px 30px;
}

.card{
    border: 0;
}

.card a img{
    height: 250px;
}

.card-body a{
text-decoration: none;
}

h3{
    text-align: center;
    color: #000;
}